.login {
    padding: 16px;
}


.my-textfield {
    width: 40%;
    margin: auto;
}

.submit {
    width: 40%;
}

@media screen and (max-width: 1024px) {

    .my-textfield {
        width: 100%;
        margin: auto;
    }

    .submit {
        width: 100%;

    }
}